body{
    background-color: antiquewhite;
    margin: 0;
}
header{
    
    width: 100%;
    border: 10px  gray;
    background-color: antiquewhite;
    position: relative;
}
h1{
    position: absolute; 
    bottom: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px;
    
}
.top-bar {
    padding: 0px;
    font-size: 60px;
    text-align: center;
    
}
.topnav{
    flex-grow: 1 ;
}
.topnav-item  {
    
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 10px;
    
    
}
.button{
    display: block;
    padding: 20px;
    background-color: antiquewhite;
    border: none; 
}
.images-logo{
  width: 200px;
  height: 200px;
  float: right;
  background: rgba(76, 100, 70, 0);
  position: absolute;
  bottom: 0px;
  right: 50px;
  
  
}
.images1{
    
    width: 100%;
    height: 1070px;
    object-fit: cover;
   
}
   

.section-info{
    display: flex;
    text-align: center;
    color: black;
    width: 100%;
    
}
.schedule-section{
    
    justify-content: center;
    flex-grow: 3;

}
h4{
    
    text-align: center;
    font-size: 30px;  
   
     
}
p {
    text-align: center;
    font-size: 20px;

}

.about-p{
    text-align: justify;
    padding: 0px 10px 10px 300px;
    font-size: 20px;
   
}
.contact-p{
    text-align: justify;
    padding: 200px 10px 10px 300px;
    font-size: 20px;
}
li {
    display: inline;
    font-size: 20px;
    padding: 50px;
    
  }
  .list-rules{
    display: block;
  }
  .schedule-table{
    width: 100%;
    border-collapse: collapse;
  }
  .schedule-table-header{
    font-size: 30px;
    background-color: grey;
    color: white;
  }
  .schedule-table-body{
    font-size: 20px;
  }
  .schedule-table td, .schedule-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .schedule-table tr:nth-child(even){background-color: #f2f2f2;}

 .schedule-table tr:hover {background-color: #ddd;}
